
/*Paleta de colores:
    Morado: #6A1B9A
    Rosa claro: #FF4081
    Azul suave: #8E24AA
    Gris claro: #F4F4F4
    Blanco: #FFFFFF
    Gris oscuro: #333333
*/

body {
    font-family: Arial, sans-serif;
    background-color: #F4F4F4;
    color: #333333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.encabezado {
    background-color: #ad70d3;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.imagen_principal {
    text-align: center;
    margin: 20px 0;
}

.imagen_paridad {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
}

.contenido_principal {
    margin-left: 100px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.titulo_principal {
    color: #FFFFFF;
    font-size: 2.5em;
}

.titulo_seccion {
    color: #6A1B9A;
    margin-bottom: 10px;
    font-size: 2em;
    text-align: center;
}

.caja_contenido {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 0px 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-left: 5px solid #6A1B9A;
    margin-bottom: 10px;
}

.texto_destacado_purpura {
    color: #6A1B9A;
    font-weight: bold;
}

.pie_de_pagina {
    background-color: #333333;
    color: #FFFFFF;
    text-align: center;
    padding: 15px;
    margin-top: 10px;
}

.texto_pie_de_pagina {
    margin: 0;
}

.lista {
    padding-left: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.elemento_lista {
    margin-bottom: 10px;
    color: #6A1B9A;
}

.texto {
    color: #333333;
    margin-bottom: 10px;
    font-size: 0.9em;
}

.subtitulo {
    font-size: 1em;
    color: #FFFFFF;
    margin-top: 10px;
}

.titulo_seccion2 {
    color: #6A1B9A;
    font-size: 1.4em;
}

.contacto{
    color: #ad70d3;
}

@media (max-width: 768px) {
    body {
        font-size: 0.9em;
    }

    .contenedor_texto_imagen {
        grid-template-columns: 1fr;
    }

    .titulo_principal {
        font-size: 2em;
        margin-left: 60px;
    }
    .head i {
        margin-top: 10px; /* Añade espacio para separación */
    }
    .head {
        flex-direction: column; /* Reorganiza los elementos verticalmente */
        align-items: initial;
    }

    .titulo_seccion,
    .texto,
    .pie_de_pagina {
        font-size: 0.9em;
    }

    .imagen1 {
        max-width: 65%;
        height: auto;
        grid-column: span 1;
        margin: 0 auto;
    }

    .imagen2 {
        max-width: 50%;
        height: auto;
        grid-column: span 1;
        margin: 0 auto;
    }

    .subtitulo{
        margin-left: 60px;
    }

    .aside {
        position: fixed; /* Fija la barra lateral en la parte superior */
        top: 0;
        left: 0;
        z-index: 1000; /* Asegura que quede sobre el contenido */
        width: 100%; /* Ocupa todo el ancho */
        height: 200vh; /* Ajusta la altura según el contenido */
    }

    .aside.active {
        width: 70px; /* Modo compacto con menor ancho */
        height: 200vh; /* Ocupa toda la altura en modo activo */
    }
    
    .texto_pie_de_pagina{
        padding-left: 60px;
    }
    
    .caja_contenido{
        width: auto;
        margin-left: -20px;
    }

    .titulo_seccion{
        font-size: 20px;
        text-align: center;
        margin-left: -20px;
    }
}